aiohttp==3.7.4
aioschedule==0.5.2
appdirs==1.4.4
async-timeout==3.0.1
attrs==19.3.0
black==19.10b0
boto3==1.14.33
botocore==1.17.33
certifi==2020.4.5.2
cfgv==3.1.0
chardet==3.0.4
click==7.1.2
cycler==0.10.0
dateparser==1.0.0
discord.py==1.5.1
distlib==0.3.0
docutils==0.15.2
filelock==3.0.12
flake8==3.8.3
humanize==3.2.0
identify==1.4.19
idna==2.9
iniconfig==1.0.1
jmespath==0.10.0
kiwisolver==1.2.0
lxml==4.6.2
matplotlib==3.3.0
mccabe==0.6.1
more-itertools==8.3.0
multidict==4.7.6
multitasking==0.0.9
nodeenv==1.4.0
numpy==1.19.1
packaging==20.4
pandas==1.1.0
pandas-datareader==0.9.0
pathspec==0.8.0
Pillow==7.2.0
pluggy==0.13.1
pre-commit==2.6.0
py==1.9.0
pycodestyle==2.6.0
pyflakes==2.2.0
pyparsing==2.4.7
pytest==6.0.1
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
regex==2020.6.8
requests==2.24.0
s3transfer==0.3.3
scipy==1.5.2
six==1.15.0
toml==0.10.1
typed-ast==1.4.1
tzlocal==2.1
urllib3==1.25.9
virtualenv==20.0.21
wcwidth==0.2.4
websockets==8.1
yarl==1.4.2
yfinance==0.1.55
